body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.column {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

img {
    max-width: 100%;
    height: auto;
}

.column h2,
.column img,
.column p {
    width: 100%;
}

@media (max-width: 768px) {
    .column {
        flex-direction: column; /* 在螢幕縮小時將列變成上下排列 */
        height: auto; /* 調整列的高度為自動調整 */
    }
}

@media (min-width: 769px) {
    .column {
       flex-direction: row;
       height: 200px;
     }
}

body {
    background-image: url("IMG_20171104_083334.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}